.menu {
  padding: 40px 0;
}

/* =========================
   HEADER
========================= */

.menu__header {
  width: clamp(500px, 55vw, 820px);
  text-align: left;
}

.menu__title {
  font-size: clamp(3rem, 4vw, 3.8rem);
  line-height: 1.2;
  margin-bottom: 20px;
}

.menu__description {
  font-size: clamp(1rem, 1.2vw, 1.9rem);
  line-height: 1.4;
  margin-bottom: 30px;
}

/* =========================
   MENU BANNER
========================= */

.menu__banner {
  position: relative;
  width: 100%;
  height: clamp(240px, 25vw, 400px);
  overflow: hidden;
}

.menu__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu__banner-content {
  position: absolute;
  inset: 0;
  left: 20px;
  max-width: clamp(250px, 25vw, 300px);
  margin: 90px;
}

.menu__banner-content p {
  font-size: clamp(1rem, 1.2vw, 1.9rem);
  line-height: 1.4;
  margin-bottom: 20px;
}

.menu__button {
  margin-top: 10px;
  font-size: 22px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  background: var(--color-secondary);
  color: black;
  padding: 10px 30px;
  border-radius: var(--radius-sm);
  border: none;
  font-weight: bold;
  transition: var(--transition);
}

.menu__button:hover {
  opacity: 0.8;
}

#menu {
  scroll-margin-top: 35px !important;
}