.hero {
  background: var(--color-primary);
  color: white;
  padding: 60px 0;
}

.hero__inner {
  display: flex;
  align-items: left;
}

.hero__content h1 {
  font-size: 48px;
  text-align: left;
  margin-bottom: 12px;
}

.hero__content p {
  margin-bottom: 20px;
  color: #eaeaea;
}

.hero__button {
  width: 100px;
  text-align: center;
  display: inline-block;
  background: var(--color-secondary);
  color: black;
  padding: 5px 15px;
  border-radius: var(--radius-sm);
  font-weight: bold;
  transition: var(--transition);
}

.hero__button:hover {
  opacity: 0.8;
}