.specials {
  padding: 60px 0;
}

.specials__header {
  text-align: center;
  margin-bottom: 20px;
}

.specials__header h2{
  font-size: 32px;
}


.specials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 320px));
  justify-content: center;
  gap: 32px;
}